/* 
  0 - 600px        phone
  600px - 900px    tablet Portrait
  900px - 1200px   tablet landscape
  1200px - 1800px  desktop ++
*/
:root {
  --color-primary: #42413D;
  --color-secondary: #B2AFAC;
  --color-tertiary: #FFCE2B;
  --color-fourth: #959492;
  --color-light: #fff;
  --color-dark: #111;
  --box-shadow: 0 1.5rem 4rem var(--color-dark); }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  /* makes border and padding included in width */ }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box;
  background-image: linear-gradient(to right bottom, var(--color-light), var(--color-fourth));
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh; }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInBtn {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

@keyframes logoRotate {
  0% {
    transform: rotate(0deg); }
  30% {
    transform: rotate(-50deg); }
  60% {
    transform: rotate(-30deg); }
  80% {
    transform: rotate(-50deg); }
  100% {
    transform: rotate(0deg); } }

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: var(--color-fourth); }

.u-center-text {
  text-align: center !important; }

.u-margin-top-lrg {
  margin-top: 8rem !important; }

.u-margin-bottom-sml {
  margin-bottom: 1.5rem !important; }

.u-margin-bottom-med {
  margin-bottom: 4rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-med {
      margin-bottom: 3rem; } }

.u-margin-bottom-lrg {
  margin-bottom: 8rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-lrg {
      margin-bottom: 5rem; } }

.legal {
  font-size: 1.2rem;
  text-align: center;
  padding: 2.5rem;
  color: var(--color-fourth); }

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: .7rem;
  margin-left: 2rem;
  border: 5px solid var(--color-tertiary);
  border-radius: 50%; }
  .logo:hover {
    animation: logoRotate 2s ease-in-out; }
  .logo__icon {
    height: 2.25rem;
    width: 2.25rem;
    fill: var(--color-tertiary); }

.search {
  flex: 0 0 40%;
  display: flex;
  align-items: center;
  justify-content: center; }
  .search__input {
    font-family: inherit;
    font-size: inherit;
    color: var(--color-light);
    background-color: var(--color-fourth);
    border: none;
    padding: .7rem 2rem;
    border-radius: 100px;
    width: 90%;
    transition: all .3s;
    margin-right: -3.25rem; }
    .search__input:focus {
      outline: none;
      width: 100%; }
    .search__input::-webkit-input-placeholder {
      font-weight: 100;
      color: var(--color-primary); }
  .search__button {
    border: none;
    background-color: var(--color-fourth); }
    .search__button:focus {
      outline: none; }
    .search__button:active {
      transform: translateY(2px); }
  .search__icon {
    height: 2rem;
    width: 2rem;
    fill: var(--color-light); }

.side-nav__icon {
  width: 1.75rem;
  height: 1.75rem; }

.user-nav {
  display: flex;
  align-self: stretch;
  align-items: center; }
  .user-nav > * {
    padding: 0 2rem;
    cursor: pointer;
    height: 100%;
    display: flex;
    align-items: center; }
  .user-nav > *:hover {
    background-color: var(--color-secondary); }
  .user-nav__icon-box {
    position: relative; }
  .user-nav__icon {
    height: 2.25rem;
    width: 2.25rem;
    fill: var(--color-light); }
  .user-nav__notification {
    font-size: .8rem;
    height: 1.75rem;
    width: 1.75rem;
    border-radius: 50%;
    background-color: var(--color-secondary);
    color: var(--color-dark);
    position: absolute;
    top: 2.2rem;
    right: .1rem;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center; }
  .user-nav__user-img {
    width: 3.75rem;
    height: 3.75rem;
    border-radius: 50%;
    margin-right: 1rem; }
  .user-nav__user-name {
    color: var(--color-tertiary); }

.container {
  max-width: 120rem;
  margin: 0 auto;
  background-color: var(--color-primary);
  box-shadow: var(--box-shadow);
  min-height: 50rem; }

.header {
  font-size: 1.4rem;
  height: 8rem;
  background-color: var(--color-primary);
  border-bottom: 10px solid var(--color-light);
  display: flex;
  justify-content: space-between;
  align-items: center; }

.content {
  display: flex; }

.sidebar {
  background-color: var(--color-dark);
  flex: 0 0 18%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-right: 10px solid var(--color-light); }

.animal-overview {
  height: 80rem;
  background-color: var(--color-primary);
  flex: 1; }
