




:root { 

  // Colours using css variables
  --color-primary: #42413D; // carbon
  --color-secondary: #B2AFAC; // ash
  --color-tertiary: #FFCE2B; // dandlion
  --color-fourth: #959492; // dust
  --color-light: #fff;
  --color-dark: #111;

  
  // Box Shadow
  --box-shadow: 0 1.5rem 4rem var(--color-dark);
}


// fonts

$default-font-size: 1.6rem;




