.container {
  max-width: 120rem;
  margin: 0 auto;
  background-color: var(--color-primary);
  box-shadow: var(--box-shadow);
  min-height: 50rem;
}

.content {
  display: flex;
}

.sidebar {
  background-color: var(--color-dark);
  flex: 0 0 18%;
}

.animal-overview {
  background-color: var(--color-primary);
  flex: 1;
}