.container {
  max-width: 120rem;
  margin: 0 auto;
  background-color: var(--color-primary);
  box-shadow: var(--box-shadow);
  min-height: 50rem;


}
.header {
  height: 7rem;
  background-color: var(--color-light);
  border-bottom: var(--color-secondary)
}

.content {
  display: flex;
}

.sidebar {
  background-color: var(--color-tertiary);
  flex: 0 0 18%;
}

.animal-overview {
  background-color: var(--color-primary);
  flex: 1;
}