.container {  // contains header + content
  max-width: 120rem;
  margin: 8rem auto;
  background-color: var(--color-primary);
  box-shadow: var(--box-shadow);
  border-radius: 3px;
  overflow: hidden;

  @include respond(tab-land) {
    margin: 0;
  }
}

.header { // contains logo + search + user-nav
  font-size: 1.4rem;
  height: 8rem;
  background-color: var(--color-primary);
  border-bottom: var(--line);
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include respond(phone-sml) {
    flex-wrap: wrap;
    align-content: space-around;
    height: 11rem;
  }
}

.content { // contains sidebar + animal-overview
  display: flex;

  @include respond(tab-port) {
    flex-direction: column;
  }
}

.sidebar { // contains side-nav + legal
  color: var(--color-fourth);
  background-color: var(--color-dark);
  flex: 0 0 18%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.animal-overview {
  background-color: var(--color-primary);
  flex: 1;
}

.animal-content {
  display: flex;
  padding: 4.5rem;
  border-bottom: var(--line);

  @include respond(tab-port) {
    padding: 2rem;
  }

  @include respond(phone) {
    flex-direction: column;
  }
}

.animal-primary {
  flex: 0 0 60%;
  margin-right: 4.5rem;

  @include respond(tab-port) {
    margin-right: 2rem;
  }

  @include respond(phone) {
    margin-right: 0;
    margin-bottom: 3rem; 
  }
}
