.btn__inline {
  border: none;
  color: var(--color-tertiary);
  font-size: inherit;
  border-bottom: 1px solid currentColor;
  padding-bottom: 2px;
  display: inline-block;
  background-color: transparent;
  cursor: pointer;
  transition: all .2s;

  &:hover {
    color: var(--color-secondary);
    animation: pulsate 1s infinite;
  }

  &:focus {
    outline: none;
  }
}