.btn__inline {
  border: none;
  color: var(--color-tertiary);
  font-size: inherit;
  border-bottom: 1px solid currentColor;
  padding-bottom: 2px;
  display: inline-block;
  background-color: transparent;
  cursor: pointer;
  transition: all .2s;

  &:hover {
    color: var(--color-secondary);
    animation: pulsate 1s infinite;
  }

  &:focus {
    outline: none;
  }
}

.btn__text {
  &:link,
  &:visited {
    font-size: 1.2rem;
    color: var(--color-light);
    display: inline-block;
    text-decoration: none;
    border-bottom: 1px solid var(--color-light);
    padding: 3px 5px;
    transition: all .2s;
    border-radius: 5px;
    margin-left: 1.5rem;
  }

  &:hover {
    background-color: var(--color-tertiary);
    color: var(--color-primary);
    box-shadow: var(--line);
    transform: translateY(-2px);
  }

  &:active {
    box-shadow: var(--line);
    transform: translateY(0);
  }
}