.overview {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: var(--line);
  
  &__heading-box {
    margin-right: auto;
    padding: 1.5rem 3rem;
  }

  &__heading {
    font-size: 2.5rem;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    
    position: relative;
  }

  &__heading::before { // Creates a line under the heading
    @include titleAnimation;
    background-color: var(--color-secondary);
  }

  &:hover &__heading::before { // When overview is hovered, trigger titleAnimation
    transform: scaleX(1);
  }

  &__sponser {
    font-size: 1.2rem;
    display: flex;
    align-items: center;
  }

  &__price {
    background-color: var(--color-tertiary);
    margin-left: 3rem;
    color: var(--color-primary);
    align-self: stretch;
    padding: 0 1.5rem;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  &__price-average {
    font-size: 2.25rem;
    font-weight: 300;
    margin-bottom: -3px;
  }

  &__price-monthly {
    font-size: .8rem;
    text-transform: uppercase;
  }
}