.table {
  width: 100%;
  text-transform: uppercase;
  border-top: var(--line);
  border-bottom: var(--line);
  padding: 3rem 0;

  &__row {

  }

  &__title {
    color: var(--color-tertiary);
    padding: 1rem;
  }

  &__item {
    color: var(--color-light);
    padding: .5rem;
  }
}