.u-center-text { text-align: center !important; }


// margin tops 
.u-margin-top-sml { margin-top: 1.5rem !important; }

.u-margin-top-med {
  margin-top: 4rem !important; 

  @include respond(tab-port) {
    margin-top: 3rem;
  }
}

.u-margin-top-lrg {
  margin-top: 8rem !important; 
  
  @include respond(tab-port) {
    margin-top: 5rem;
  }
}


// margin bottoms
.u-margin-bottom-sml { margin-bottom: 1.5rem !important; }

.u-margin-bottom-med {
  margin-bottom: 4rem !important; 

  @include respond(tab-port) {
    margin-bottom: 3rem;
  }
}

.u-margin-bottom-lrg {
  margin-bottom: 8rem !important; 
  
  @include respond(tab-port) {
    margin-bottom: 5rem;
  }
}
